{% extends "default.html" %}
{% load cms_articles thumbnail %}

{% block title %}{% article_attribute "title" %}{% endblock %}
{% block page_title %}{% article_attribute "page_title" %}{% endblock %}
{% block meta_description %}{% article_attribute "meta_description" %}{% endblock %}
{% block breadcrumb %}{% show_article_breadcrumb %}{% endblock %}
{% block content %}
    {% article_attribute "image" as image %}
    {% if image %}
    <div class="post_image">
        <a href="{% thumbnail image 1500x1500 %}" data-toggle="lightbox" data-title="{{ image.name }}">
            <img class="shadow wp-post-image" alt="{{ image.name }}" src="{% thumbnail image 600x800 %}" />
        </a>
    </div>
    {% endif %}

    {% article_placeholder "content" %}
{% endblock %}
