{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block page_title %}{% page_attribute "page_title" %}{% endblock %}
{% block meta_description %}{% page_attribute "meta_description" %}{% endblock %}

{% block base_content %}

<!-- Slide Container begin -->
<div id="slide-container"  class="clearfix">

    <!-- Slider Wrapper begin -->
    <div id="slider-wrapper" class="left">
        {% block slider %}{% placeholder "slider" %}{% endblock %}
    </div>
    <!-- Slider Wrapper end -->

    <!-- Quickmenu begin -->
    <div id="quickmenu" class="left">
        {% block quickmenu %}{% placeholder "quickmenu" %}{% endblock %}
    </div>
    <!-- Quickmenu end -->
    
</div>
<!-- Slide Container end -->

<!--Main begin-->
<div id="main" class="round_8 clearfix">

    {% if messages %}
    <div class='messages'>
        {% for message in messages %}
            <div class='alert alert-info'>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Home Content begin-->
    <div id="home-content" class="left">
        {% block content %}{% placeholder "content" %}{% endblock %}
    </div>
    <!--Home Content end-->

    <!-- Sidebar begin-->    
    <div  id="sidebar" class="left">
        {% block sidebar %}{% placeholder "sidebar" %}{% endblock %}
    </div>
    <!-- Sidebar end--> 
       
</div>
<!--Main end-->

{% endblock %}
