{% extends "base.html" %}
{% load cms_tags leprikon_tags menu_tags %}

{% block base_content %}
<div class="row" style="display: flex;">
    <div class="col-sm-9" id="main">
        {% include 'leprikon/modal_messages.html' %}
        {% block content %}{% endblock %}
    </div>
    <div class="col-sm-3" id="sidebar">
        <nav class="list-group">
            {% block menu %}{% show_menu_below_id 'leprikon' 0 100 0 1 'leprikon/menu.html' %}{% endblock %}
        </nav>
    </div>
</div>
{% endblock %}
