{% load i18n sekizai_tags staticfiles survey %}

{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'cmsplugin_survey/style.css' %}"/>
{% endaddtoblock %}

<div class="survey survey-{{ question.id }}">
    <div class="survey-question"><strong>{{ question.question }}</strong></div>

    {% if can_vote %}
    <form action="{% url 'survey:vote' question_id=question.id %}" method="post">{% csrf_token %}
    <input type="hidden" name="prefix" value="{{ form.prefix }}"/>
    {% endif %}

    {% for item in form.answer %}
    {% with answer=item.data.value|answer %}
    <div class="survey-answer">
        {% if can_vote %}{{ item }}{% else %}{{ answer.answer }}{% endif %}
    </div>
    {% if can_vote %}<label for="{{ item.id_for_label }}">{% endif %}
    <div class="survey-value">
        <span class="survey-bar" style="width: {% if answer.percents > 0 %}{{ answer.percents }}{% else %}1{% endif %}%; background-color: {{ answer.color }}">
            <span class="survey-percents">{{ answer.percents|default:0 }}%</span>
        </span>
    </div>
    {% if can_vote %}</label>{% endif %}
    {% endwith %}
    {% endfor %}

    {% if can_vote %}
    <button class="survey-submit btn btn-primary" type="submit">{% trans 'Save vote' %}</button>
    </form>
    {% endif %}
</div>
